.main-root-container {
    width: 100vw;

    .main-top-area {
        padding: 50px 32px 32px 32px;
        background: linear-gradient(61.33deg, #6571FF -6.17%, #582EFF 101.48%);
        border-radius: 0px 0px 45px 0px;

        .notification {
            display: flex;
            justify-content: flex-end;
            margin-right: -12px;
            padding-top: 4px;

            img {
                width: 25px;
                height: 28px;
            }
        }

        .top-text-box {
            margin-top: 16px;
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 30px;
            color: rgba(255, 255, 255, 0.9);
        }

        .search-area {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 26px;
            width: 100%;

            input {
                height: 48px;
                width: calc(100% - 36px);
                box-shadow: 0px 4px 4px rgba(104, 104, 104, 0.25);
                border-radius: 8px;
                border: none;
                padding: 0 18px;
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 17px;
                color: #4E4E4E;
            }

            .parcel-box {
                position: absolute;
                right: 4px;
                bottom: 60px;
                width: 76px;
                height: 70px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .search {
                position: absolute;
                right: 28px;

                img {
                    width: 26px;
                    height: 26px;
                }
            }
        }
    }

    .main-button-area {
        margin: 20px 18px;
        
        .delivery-status {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 48px;

            background: #F6F7FB;
            border: 0.5px solid #D7D6D6;
            border-radius: 24px;

            .separator {
                width: 0px;
                height: 18px;
                border: 0.5px solid #8C98BE;
            }

            .left, .right {
                width: 100%;
                text-align: center;
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 18px;

                &.selected {
                    color: #2A00F4;
                    font-weight: 600;
                }
            }
        }
    }

    .main-content {
        padding: 18px;
        height: calc(100vh - 530px);
        overflow: auto;

        .sort-area {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .button {
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 15px;
                color: #383838;
                letter-spacing: 0.02em;

                &.right {
                    font-size: 13px;
                }
            }
        }

        .card-list-area {
            margin: 5px 0;

            .card {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: calc(100% - 30px);
                padding: 18px 15px;
                background: #FFFFFF;
                border: 0.5px solid #D7D6D6;
                border-radius: 9px;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                .card-img-area {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    max-width: 52px;
                    width: 52px;

                    img {
                        width: 52px;
                        height: 52px;
                    }

                    .delivery-name {
                        margin-top: 3px;
                        font-family: 'Poppins';
                        font-weight: 600;
                        font-size: 11px;
                        color: #474747;
                    }
                }

                .card-info-area {
                    width: calc(100% - 132px);
                    padding-left: 20px;

                    .item-name{
                        font-family: 'Poppins';
                        font-weight: 600;
                        font-size: 17px;
                        color: #2D2C2C;
                        line-height: 19px;
                    }

                    .item-detail-area {
                        margin-top: 6px;

                        .item-detail {
                            font-family: 'Poppins';
                            font-weight: 300;
                            font-size: 12px;
                            color: #505050;

                            span {
                                font-weight: 500;
                            }
                        }
                    }
                }

                .card-delivery-status {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    max-width: 80px;
                    width: 80px;
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 19px;
                    color: #2A00F4;
                    word-break: keep-all;

                    .arrow {
                        color: #8C98BE;
                    }
                }
            }
        }
    }
}
