
Backend/gradle/wrapper/gradle-wrapper.jar
Backend/gradle/wrapper/gradle-wrapper.properties
Backend/gradlew.bat
Backend/src/main/resources/application.properties
Backend/gradlew
Backend/gradle/wrapper/gradle-wrapper.jar
Backend/gradle/wrapper/gradle-wrapper.jar
