.footer-root-container {
    position: sticky;
    bottom: 0px;
    height: 109px;
    width: 100%;
    box-shadow: 0px -4px 6px rgba(188, 188, 188, 0.25);
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 42vw;
    }
}