.detail-main-container {
    height: 100%;

    .top-area {
        padding: 75px 30px 30px 30px;

        .delivery-info-area {
            display: flex;

            .logo {
                display: inline-block;
            }

            .delivery-info {
                padding-left: 27px;

                .delivery-name {
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    color: #263257;
                }

                .detail-info {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    color: #505050;
                    margin-top: 15px;

                    .tracking-number-area {
                        display: flex;
                        align-items: flex-end;

                        .tracking-number {
                            color: #5F68B1;
                            font-weight: 700;
                        }

                    }
                }
            }
        }

        .delivery-status {
            width: 100%;

            .icon {
                display: flex;
                margin-top: 40px;
                align-items: center;
                justify-content: space-between;

                .division {
                    position: absolute;
                    z-index: -1;
                    height: 0px;
                    width: calc(100vw - 70px);
                    border: 1.5px solid #DFDFDF;
                }
            }

            .text {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                color: #878C94;
                font-size: 14px;
                letter-spacing: 0.25px;

                .status {
                    display: flex;
                    width: 3em;
                    justify-content: center;
                }
            }

        }
    }

    .bottom-area {
        background: #F5F5F5;
        box-shadow: 0px -4px 1px rgba(184, 184, 184, 0.25);
        padding: 18px 26px 0px 20px;

        .page-name {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.02em;
            color: #232F55;
            padding-bottom: 4px;
        }

        .delivery-step {
            display: flex;
            align-items: flex-start;
            margin-top: 11px;

            .delivery-history-card {
                width: 100%;
                background-color: #FFFFFF;
                padding: 13px 10px 13px 18px;
                margin-left: 10px;
                border: 1px solid rgba(228, 228, 228, 0.8);
                box-shadow: 0px 4px 4px rgba(223, 223, 223, 0.25);
                border-radius: 8px;
    
                .history-date {
                    font-style: normal;
                    font-size: 12px;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    color: #404040;
                    margin-bottom: 13px;
                }
    
                .history-location {
    
                }
    
                .history-status-info {
                    display: flex;
                    margin-top: 5px;
                }
    
                .status {
                    font-size: 15px;
                    line-height: 15px;
                    letter-spacing: 0.02em;
                    color: #A2A2A2;
                }
    
                .status-value {
                    margin-left: 3px;
                    font-size: 15px;
                    line-height: 15px;
                    letter-spacing: 0.02em;
                    color: #000000;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 300px;
                }
            }
        }

    }
}